<% layout('layouts/boilerplate') -%>
<body> 

    <div class="allLists">

        <div id="filters">

    <div class="filters-scroll">

      <form method="get" action="/listings">

      <button name="category" value="Trending">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
    </button>

    <button name="category" value="Rooms">
      <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </div>
      </button>

      <button name="category" value="Iconic Cities">
     <div class="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic Cities</p>
      </div>     
      </button>

      <button name="category" value="Mountains">
     <div class="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
      </div>   
      </button>

      <button name="category" value="Castles">
     <div class="filter">
       <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
      </div>
      </button>

       <button name="category" value="Amazing Pools">
      <div class="filter">
       <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing Pools</p>
      </div>
      </button>

      <button name="category" value="Camping">
       <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </div>  
      </button>

      <button name="category" value="Farms">
     <div class="filter">
       <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
      </div>
      </button>

      <button name="category" value="Arctic">
      <div class="filter">
       <i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
      </div>
      </button>

      <button name="category" value="Domes">
       <div class="filter">
       <i class="fa-solid fa-igloo"></i>
        <p>Domes</p>
      </div>
      </button>

      <button name="category" value="Boats">
      <div class="filter">
       <i class="fa-solid fa-sailboat"></i>
        <p>Boats</p>
      </div>
      </button>

       </form>
    </div> 

    <div class="toggle">
    <div class="sort-toggle">
      <div id="sort-container">
    <button onclick="toggleSort(event)" >
        Sort <span><i class="fa-solid fa-arrows-up-down"></i></span>
    </button>
    <div id="sort-options" >
        <div onclick="applySort('price_asc')" style="padding: 10px; cursor: pointer;">Price: Low to High</div>
        <div onclick="applySort('price_desc')" style="padding: 10px; cursor: pointer;">Price: High to Low</div>
    </div>
</div>

    </div>

      <div class="tax-toggle">
         <div class="form-check-reverse form-switch">
           <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Show Taxes</label>
       </div>
      </div>
  </div>  </div>
    
    <% if(lists && lists.length > 0) { %>
    <div class="row row-cols-1 row-cols-lg-3  row-cols-md-2  row-cols-sm-2">
        <% for(let list of lists) { %>  
        <div class="card col listcards" style="width: 18rem;">
  <img src="<%=list.image.url%>" class="card-img-top " alt="Listing_image" style="height: 19rem;">
  <div class="card-body">
    <h5 class="card-title"><%=list.title%></h5>
    <p class="card-text">&#x20b9 <%= list.price.toLocaleString("en-IN") %>/night
    <i class="tax-info"> &nbsp; &nbsp; +<%=list.tax%>% GST </i>
    </p>
    <a href="/listings/<%=list.id%>" class="btn btn-primary">View Details</a>
  </div>
</div>
<% } %>
    </div>
  <% } else{ %>
    <div class="no-result">
  <h2>No results found!</h2>
   <img src="/images/search-results.png" alt="no-result" />
  </div>
  <% } %>
    </div>

    <script>
      let taxesSwitch = document.getElementById("switchCheckDefault")
      taxesSwitch.addEventListener("click" , ()=>{
        let taxes = document.getElementsByClassName("tax-info")
        for(let info of taxes){
          if(info.style.display != "inline"){
          info.style.display = "inline"
          }
          else{
            info.style.display = "none"
          }
        }
      })

    function toggleSort(event) {
       event.stopPropagation();
  const options = document.getElementById('sort-options');
  if (options.style.display === 'block') {
    options.style.display = 'none';
  } else {
    options.style.display = 'block';
  }
}


    function applySort(sortType) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort', sortType);
        window.location.search = urlParams.toString();
    }


    window.addEventListener('click', function(e) {
        const container = document.getElementById('sort-container');
        if (!container.contains(e.target)) {
            document.getElementById('sort-options').style.display = 'none';
        }
    });

    </script>
</body>
